{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="validationDefault02" name="email_field" value="" placeholder="Email" type="email" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="password_change" id="validationDefault02" placeholder="New Password" type="password" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="confirm_password_change" id="validationDefault02" placeholder="Confirm New Password" type="password" required>
        </div>
        <label>Please enter your answer to the identity question to verify it's you</label>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="question_field" id="validationDefault02" placeholder="Your answer" type="text" required>
        </div>
        <br>
        <button class="btn btn-primary" type="submit" name="submit">Change Password</button>
    </form>
{% endblock %}