{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="page-header">
        <h1>Login</h1>
    </div>
    <br>
    <br>
    <form id="form" action="/login" method="post">
        <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault01">Name</label>
              <input autofocus autocomplete="off" type="text" name="name_login" class="form-control" id="validationDefault01" value="" placeholder="Name" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationDefault02">Email</label>
              <input autocomplete="off" type="email" name="email_login" class="form-control" id="validationDefault02" value="" placeholder="Email" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationDefault02">Password</label>
              <input autocomplete="off" type="password" name="password_login" class="form-control" id="validationDefault02" value="" placeholder="Password" required>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit" name="submit">Login</button>
        <br>
        <br>
        <a href="/change_password" style="font-weight: bold;">Forgot password?</a>
    </form>
{% endblock %}